<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.example.demo.dao.LearningDataMapper">	
    
<!--    <select id="findAll" resultType="com.example.demo.entity.LearningData">-->
<!--        SELECT * FROM learning_data-->
<!--    </select>-->
    
    <!-- learning_dataテーブルのデータ取得 -->
    <select id="getLearningData" resultType="com.example.demo.entity.LearningData">
        SELECT ld.id, ld.name, ld.study_time, ld.category_id, ld.user_id,
               ld.created_at, ld.updated_at,
               c.name as category_name
        FROM learning_data ld
        RIGHT JOIN categories c ON ld.category_id = c.id
        ORDER BY ld.category_id;
    </select>
    
</mapper>
