<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'スキル一覧', scripts = ~{::script}, links = ~{::link})">
</head>
<body>
<div>
  <header class="header d-flex justify-content-between">
    <div>
      <h1>My Portfolio</h1>
    </div>
    <form th:action="@{/logout}" method="post">
      <input type="submit" name="logout" class="btn btn-login" value="ログアウト"/>
    </form>
  </header>
  <main>
    <div class="container">
		
		
      <div class="skill-column">
        <form id="skill-introduction-form">
          <div class="d-flex justify-content-between mb-3">
			<input type="hidden" th:value="${categoryId}" name="id" > 
			<input type="hidden" th:field="${userId}" name="userId">
            <h2 class="ttl_border w-40"style="width:200px;">バックエンド</h2>
            <div class="">
			  <input type="button" onclick="location.href='./skilledit?category_id=2'" value="項目を追加する" class="btn btn-primary"/>
            </div>
          </div>
          <div>
            <table class="table border rounded-3" 
			style="border-collapse: separate;
			border-spacing: 0;">
              <thead>
              <th scope="col" class="col-3">項目名</th>
                <th scope="col" class="col-3">学習時間</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
              </thead>
              
              <tbody th:each="entry : ${groupedByCategory}">
                <tr:block th:if="${entry.categoryId == 2}">
                
              <td th:text="${entry.studyName}">Ruby(項目名)</td>
                <td><input type="number" id="tentacles" name="tentacles" min="0" max="100" class="form-select"th:value="${entry.studyTime}"></td>
                <td class="text-center"	><button class="btn btn-add">学習時間を保存する</button></td>
                <td class="text-center"><button class="btn btn-delete">削除する</button></td>
                </tr:block>
                </tbody>
            </table>
          </div>
        </form>
      </div>
	  
	  
      <div class="skill-column">
        <form id="skill-introduction-form">
          <div class="d-flex justify-content-between mb-3">
            <h2 class="ttl_border"style="width:200px;">フロントエンド</h2>
            <div class="">
				<input type="button" onclick="location.href='./skilledit?category_id=1'" value="項目を追加する" class="btn btn-primary"/>
            </div>
          </div>
		  <table class="table border rounded-3" 
		  style="border-collapse: separate;
		  border-spacing: 0;">
            <thead>
              <tr>
                <th scope="col" class="col-3">項目名</th>
                <th scope="col" class="col-3">学習時間</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody th:each="entry : ${groupedByCategory}">
              <tr:block th:if="${entry.categoryId == 1}">
              
            <td th:text="${entry.studyName}">Ruby(項目名)</td>
              <td><input type="number" id="tentacles" name="tentacles" min="0" max="100" class="form-select"th:value="${entry.studyTime}"></td>
              <td class="text-center"><button class="btn btn-add">学習時間を保存する</button></td>
              <td class="text-center"><button class="btn btn-delete">削除する</button></td>
              </tr:block>
              </tbody>
          </table>
        </form>
      </div>
	  
	  
      <div class="skill-column">
        <form id="skill-introduction-form">
          <div class="d-flex justify-content-between mb-3">
            <h2 class="ttl_border w-40"style="width:150px;">インフラ</h2>
            <div class="">
				<input type="button" onclick="location.href='./skilledit?category_id=3'" value="項目を追加する" class="btn btn-primary"/>
            </div>
          </div>
		  <table class="table border rounded-3" 
		  style="border-collapse: separate;
		  border-spacing: 0;">
            <thead>
              <tr>
                <th scope="col" class="col-3">項目名</th>
                <th scope="col" class="col-3">学習時間</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody th:each="entry : ${groupedByCategory}">
              <tr:block th:if="${entry.categoryId == 3}">
              
            <td th:text="${entry.studyName}">Ruby(項目名)</td>
              <td><input type="number" id="tentacles" name="tentacles" min="0" max="100" class="form-select"th:value="${entry.studyTime}"></td>
              <td class="text-center"><button class="btn btn-add">学習時間を保存する</button></td>
              <td class="text-center"><button class="btn btn-delete">削除する</button></td>
              </tr:block>
              </tbody>
          </table>
        </form>
      </div>
	  
	  
    </div>
  </main>
  <footer class="footer">
    <copy sec:authentication="name"></copy>
  </footer>
  <script src="script.js"></script> 
</div>
</body>
</html>
